:root {
	--primario: #2762b0;
	--primarioOscuro: #1b457c;
	--secundario: #ffce00;
	--secundarioOscuro: rgb(233, 287, 2);
	--blanco: #fff;
	--negro: #000;
	--grisOscuro: #444343;
	--fuentePrincipal: 'Potta One', cursive;
	--fuenteSecundaria: 'Poppins', sans-serif;
}

/** Globales **/

html {
	font-size: 62.5%; /* 10/16 = 0.625 -> 62.5% */
	/* Sirve para arreglar el descuadre del css con el diseño planeado
	el padding y margin ya no forman parte de la medida con los elementos */
	box-sizing: border-box; /* hack para box-model */
}

*,
*::before,
*::after {
	box-sizing: inherit; /* hereda el truco box-model para cualquier pseudo elemento before y after */
}

body {
	background-image: linear-gradient(to left, var(--primario) 10%, var(--primarioOscuro) 100%);
	font-size: 16px;
	line-height: 1.5;
}

p {
	font-size: 1.8rem;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--blanco);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.contenedor {
	max-width: 120rem;
	margin: 0 auto;
}

h1,
h2,
h3 {
	text-align: center;
	color: var(--secundario);
	font-family: var(--fuentePrincipal);
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.2rem;
}

h3 {
	font-size: 2.4rem;
}

/** Estilos al header  */

.header__titulo--primario {
	text-transform: uppercase;
	text-align: center;
	font-size: 4.5rem;
	color: var(--blanco);
	font-family: var(--fuentePrincipal);
	line-height: 0.9;
	text-shadow: 0 0 0.4rem var(--negro);
}

.header__titulo--secundario {
	text-transform: uppercase;
	text-align: center;
	color: var(--secundario);
	font-family: var(--fuentePrincipal);
	display: block;
}

/** Estilos de barra de Navegación */

.navegacion {
	background-color: var(--grisOscuro);
	padding: 0.1rem 0;
	opacity: 1;
}

.navegacion__lista {
	list-style: none;
	display: flex;
	justify-content: center;
	/*? gap: 4rem;  //forma moderna, poco soporte*/
}

.navegacion__lista__enlace {
	font-family: var(--fuenteSecundaria);
	color: var(--blanco);
	font-weight: 600;
	font-size: 2rem;
	text-shadow: 0 0 0.2rem var(--negro);
	margin-right: 4rem; /* forma tradicional */
}

.navegacion__lista__enlace:hover {
	color: var(--secundario);
}

/** Estilos al titulo dentro del contenedor  */

.contenedor__titulo {
	text-shadow: 0 0 0.2rem var(--negro);
}

/** Estilos al footer */

.footer {
	background-color: var(--grisOscuro);
	padding: 1rem 0;
	margin-top: 2rem;
}

.footer__texto {
	text-align: center;
	font-family: var(--fuenteSecundaria);
}

/** Estilos al grid  */
.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

@media (min-width: 768px) {
	.grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

/** Estilos al producto  */

.producto {
	background-color: var(--primarioOscuro);
	padding: 1rem;
}

.producto__imagen {
	width: 100%;
}

/* .producto__informacion {
} */

.producto__nombre {
	font-size: 2rem;
}

.producto__precio {
	font-size: 1.8rem;
}

.producto__nombre,
.producto__precio {
	font-family: var(--fuenteSecundaria);
	margin: 1rem 0;
	text-align: center;
}

/** Estilos a los gráficos */

.grafico {
	min-height: 30rem;
	background-repeat: no-repeat;
	background-size: cover;
	grid-column: 1 / 3;
}

.grafico--camisas {
	grid-row: 2 / 3;
}

.webp .grafico--camisas {
	background-image: url(../img/grafico1.webp);
}

.no-webp .grafico--camisas {
	background-image: url(../img/grafico1.jpg);
}

.grafico--node {
	grid-row: 8 / 9;
}

.webp .grafico--node {
	background-image: url(../img/grafico2.webp);
}

.no-webp .grafico--node {
	background-image: url(../img/grafico2.jpg);
}

@media (min-width: 768px) {
	.grafico--node {
		grid-row: 5 / 6;
		grid-column: 2 / 4;
	}
}

/** Estilos a la página about us  */

.contenedor__subtitulo {
	font-family: var(--fuenteSecundaria);
	text-shadow: 0 0 0.2rem var(--negro);
	font-weight: 700;
}

.nosotros {
	display: grid;
	grid-template-rows: repeat(2, auto);
}

@media (min-width: 1000px) {
	.nosotros {
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
		width: auto;
	}
}

/* .nosotros__contenido {
} */

.nosotros__imagen {
	grid-row: 1 / 2;
	width: 100%;
}

/** Estilos de los bloques */

.bloque__titulo {
	font-family: var(--fuenteSecundaria);
	text-shadow: 0 0 0.2rem var(--negro);
	font-weight: 700;
	margin: 0;
}

.bloques {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem;
}

@media (max-width: 360px) {
	.bloques {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media (min-width: 768px) {
	.bloques {
		grid-template-columns: repeat(4, 1fr);
	}
}

.bloque {
	text-align: center;
}

.bloque__imagen {
	width: 50%;
}

/** Estilos a página estatica del producto  */

@media (min-width: 768px) {
	.camisa {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 2rem;
	}
}

/** Estilos al formulario del producto  */

.formulario {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.formulario__campo--talla {
	border: 0.7rem solid var(--primarioOscuro);
	font-family: sans-serif, serif;
	text-align: center;
	width: 19rem;
	margin: auto;
	text-align: center;
}

.formulario__campo--cantidad {
	border: 0.7rem solid var(--primarioOscuro);
	font-family: sans-serif, serif;
	width: 10rem;
	margin: auto;
}

.formulario__submit {
	background-color: var(--secundario);
	border: none;
	padding: 1rem;
	font-size: 1.6rem;
	font-family: var(--fuenteSecundaria);
	font-weight: 600;
	cursor: pointer;
	grid-column: 1 / 3;
	margin-top: 2rem;
	width: 55rem;
}

.formulario__submit:hover {
	animation: animacionBoton 1s infinite;
	font-weight: 800;
}

/* animacion */
@keyframes animacionBoton {
	50% {
		transform: translateY(0.2rem);
	}

	100% {
		transform: translateY(0);
	}
}

