:root {
	--primario: #2762b0;
	--primarioOscuro: #1b457c;
	--secundario: #ffce00;
	--secundarioOscuro: rgb(233, 287, 2);
	--blanco: #fff;
	--negro: #000;
	--grisOscuro: #444343;
	--fuentePrincipal: 'Potta One', cursive;
	--fuenteSecundaria: 'Poppins', sans-serif;
}

/** Globales **/

html {
	font-size: 62.5%; /* 10/16 = 0.625 -> 62.5% */
	/* Sirve para arreglar el descuadre del css con el diseño planeado
	el padding y margin ya no forman parte de la medida con los elementos */
	box-sizing: border-box; /* hack para box-model */
}

*,
*::before,
*::after {
	box-sizing: inherit; /* hereda el truco box-model para cualquier pseudo elemento before y after */
}

body {
	background-image: linear-gradient(to left, var(--primario) 10%, var(--primarioOscuro) 100%);
	font-size: 1.6rem;
	line-height: 1.5;
}

p {
	font-size: 1.8rem;
	font-family: Arial, Helvetica, sans-serif;
	color: var(--blanco);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

.contenedor {
	max-width: 120rem;
	margin: 0 auto;
}

h1,
h2,
h3 {
	text-align: center;
	color: var(--secundario);
	font-family: var(--fuentePrincipal);
}

h1 {
	font-size: 4rem;
}

h2 {
	font-size: 3.2rem;
}

h3 {
	font-size: 2.4rem;
}

/** Estilos al header  */

.header__titulo--primario {
	text-transform: uppercase;
	text-align: center;
	font-size: 4.5rem;
	color: var(--blanco);
	font-family: var(--fuentePrincipal);
	line-height: 0.9;
	text-shadow: 0 0 0.4rem var(--negro);
}

.header__titulo--secundario {
	text-transform: uppercase;
	text-align: center;
	color: var(--secundario);
	font-family: var(--fuentePrincipal);
	display: block;
}

/** Estilos de barra de Navegación */

.navegacion {
	background-color: var(--grisOscuro);
	padding: 0.1rem 0;
	opacity: 1;
}

.navegacion__lista {
	list-style: none;
	display: flex;
	justify-content: center;
	/*? gap: 4rem;  //forma moderna, poco soporte*/
}

.navegacion__lista__enlace {
	font-family: var(--fuenteSecundaria);
	color: var(--blanco);
	font-weight: 600;
	font-size: 2rem;
	text-shadow: 0 0 0.2rem var(--negro);
	margin-right: 4rem; /* forma tradicional */
}

.navegacion__lista__enlace:hover {
	color: var(--secundario);
}

/** Estilos al footer */

.footer {
	background-color: var(--grisOscuro);
	padding: 1rem 0;
	margin-top: 2rem;
}

.footer__texto {
	text-align: center;
	font-family: var(--fuenteSecundaria);
}

/** Estilos al producto  */

.producto {

}

.producto__imagen {

}

.producto__informacion {

}

.producto__precio {
	
}